# Binaries
/bin/
/dist/
/basic-client
/browse-tree
/reports
/files
/scl-parse
/sclgen
/sclparse
/ied-client
/ied-server

# Test / fuzz
*.test
*.out

# Coverage
coverage.*
*.out

# IDE
.vscode/
.idea/

# OS
.DS_Store
